<p>
    <FormattedMessage
      id="welcome"
      defaultMessage={`Hello {name}, you have {unreadCount, number}
                {unreadCount, plural, one {message} other {messages}}`}
      values={{name: <b>{name}</b>, unreadCount}}
    />
</p>
