// The initial state of the App
export const initialState = {
  username: '',
};

/* eslint-disable default-case, no-param-reassign */
const homeReducer = (state = initialState, action) =>
  produce(state, draft => {
    switch (action.type) {
      case CHANGE_USERNAME:
        return Object.assign({}, state, {
            username: state.username.concat(action.username.replace(/@/gi, ''))
        });
        break;
    }
  });

export default homeReducer;
